{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'display_box.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" /> 
{% include 'users/menu.html' %}
<h1 class=headline>{{assignment.name}}</h1>
<br/><br/>
<div class="generalbox first_float">
<h3>Description</h3>
{{ assignment.description}}
<h3>Due</h3>
{{ assignment.due_date}}

{% if can_submit %}
<p>
<a class=fancylink href="{% url 'assignments:submission' assignment.id %}">Submit Your Answers</a>
{% endif %}

{% if submitted %}
<p> You submitted this assignment already.
{% endif %}
</div>
