{# Copied from the Django documentation #}
{# https://docs.djangoproject.com/en/1.8/topics/auth/default/#all-authentication-views #}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}" /> 

<div class=container>
<div class=loginform>
<h1>Login to Antigravity CRM</h1>

<form method="post" action="{% url 'users:user_login' %}">
{% csrf_token %}
<table>
<tbody>
        {{form.as_table}}
</tbody>
</table>

<input type="submit" class="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<a href="{% url 'users:new_user' %}">Not a user? Sign up here!</a>
</div>
</div>
