{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'display_box.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

{% include 'users/menu.html' %}
<h1 class='headline'>Hello {{user.django_user.first_name}}</h1>

<br />

{% if user.is_student %}

    <!-- SECTIONS -->

    <div class="display_box first_float">
        <div class="header">Classes</div>
        <div class="content">
            <ul>
            {% for section in sections %}
                <li>
                    <a href="{% url 'courses:section_detail' section.id %}">{{section}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="display_box">
        <div class="header">Due</div>
        <div class="content">
            <ul>
            {% for assignment in due_assignments %}
                <li>
                    <a href="{% url 'assignments:detail' assignment.id %}">{{assignment}} Due: {{assignment.due_date}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="display_box">
        <div class="header">Assignments</div>
        <div class="content">
            <ul>
            {% for assignment in assignments %}
                <li>
                    <a href="{% url 'assignments:detail' assignment.id %}">{{assignment}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>

{% elif user.is_teacher %}
    <div class="display_box first_float">
        <div class="header">Sections</div>
        <div class="content">
            <ul>
            {% for section in sections %}
                <li>
                    <a href="{% url 'courses:section_detail' section.id %}">{{section}}</a>
                    <!--<form class="delete" action="url 'courses:add_section'" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="section_id" value="{{section.id}}"/>
                        <input type="submit" value="X"/>
                    </form>-->
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
