
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.display_box {
    width: 300px;
    background-color: #EEF;
    margin: 10px;
    float:left;
}

.display_box .header {
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
    background-color: #449;
    color: #FFF;
    border-style: solid;
    border-width: 3px;
    border-color: #449;
    font-size: 27px;
}

.display_box .content {
    height: 300px;
    border-style: solid;
    border-top-style: none;
    border-color: #444;
    border-width: 3px;
    padding-top: 5px;
    font-size: 20px;
}

.autoheightbox .content
{
    height: auto !important;
}

.first_float
{
    margin-left: 40px !important;
}

.display_box .content ul {
    margin: 0;
    list-style: none;
    padding: 3px;
    margin-left: 4px;
}

.display_box .content li {
    padding-bottom: 8px;
}

.display_box .content a {
    text-decoration: none;
    color: #000;
}

.display_box li .delete {
    margin: 0;
    padding: 1px;
    float: right;
}

.display_box li .delete input {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #FFF;
    cursor: pointer;
    background-color: #000;
    border: none;
    height: 20px;
    width: 20px;
    opacity: .2;
    transition: opacity 0.5s, color 0.5s;
}

.display_box li:hover .delete input {
    opacity: 1;
}

.display_box li:hover .delete input:hover {
    color: #E10;
}

