{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'display_box.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
{% include 'users/menu.html' %}

<h1 class=headline>{{section}} <br /> Instructor: {{section.teacher}}</h1>

<br/>



{% if assignments %}
    <div class="display_box first_float">
        <div class="header">Assignments</div>
        <div class="content">
    <ul>
    {% for assignment in assignments %}
        <li><a href="{% url 'courses:assignment_detail' assignment.id %}">{{assignment.name}}</a></li>
    {% endfor %}
    </ul>
    </div>
    </div>
{% else %}
<div class="generalbox first_float">
    <h2>No assignments available.</h2>
</div>
{% endif %}

{% if section.students.all.count %}
    <div class="display_box">
        <div class="header">Students</div>
        <div class="content">
	<ul>
	{% for student in section.students.all %}
	    <li>{{ student.django_user.first_name }}</li>
	{% endfor %}
    </ul>
    </div>
    </div>
{% else %}
    <div class=generalbox>
    <h2>No students are enrolled in this course.</h2>
    </div>
{% endif %}

<div class=clearfix>
</div>



{% if user %}

{% if user == section.teacher %}
    <div class="generalbox first_float">
    <a class=fancylink href="{% url 'courses:new_assignment' section.id %}">Create a New Assignment</a>
    </div>
{% endif %}

{% if user.is_student and not enrolled %}
<div class="generalform first_float">
{% if errormsg %}
<h3 class=errormsg>{{errormsg}}</h3>
{% endif %}
<h3>Join the Section</h3>
<form action="{% url 'courses:enroll' section.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Join" />
</form>
</div>

{% elif user.is_admin %}
<div class="generalform first_float">
{% if errormsg %}
<h3 class=errormsg>{{errormsg}}</h3>
{% endif %}
<h3>Add students to section</h3>
<form action="{% url 'courses:enroll' section.id %}" method="post">
    {% csrf_token %}
    <table>
    <tr>
    <th>
    <label for="student_id">Student</label>
    </th>
    <td>
    <select name=student_id id=student_id >
    {% for student in students %}
        <option value={{student.id}}>{{student}}</option>
    {% endfor %}
    </select>
    </td>
    </table>
    <input type="submit" value="Add student" />
</form>
</div>

{% endif %}
{% endif %}
