{% load staticfiles %}
{% include 'users/menu.html' %}

<h1>{{section}}</h1>
<h2>Instructor: {{section.teacher}}</h2>

<h3>Assignments:</h3>
{% if assignments_list %}
    <ul>
    {% for assignment in assignments_list %}
        <li><a href="{% url 'courses:assignment_detail' assignment.id %}">{{assignment.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No assignments available.</p>
{% endif %}


<h3>Students:</h3>
{% if section.students.all.count %}
	<ul>
	{% for student in section.students.all %}
	    <li>{{ student.django_user.first_name }}</li>
	{% endfor %}
{% else %}
    <p>No students are enroled in this course.</p>
{% endif %}
</ul>
