{% load staticfiles %}
{% include 'users/menu.html' %}

{% if errormsg %}
<h3>{{errormsg}}</h3>
{% endif %}

<h1>{{section}}</h1>
<h2>Instructor: {{section.teacher}}</h2>


<h3>Assignments:</h3>
{% if assignments %}
    <ul>
    {% for assignment in assignments %}
        <li><a href="{% url 'courses:assignment_detail' assignment.id %}">{{assignment.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No assignments available.</p>
{% endif %}

{% if user and user == section.teacher %}
<a href="{% url 'courses:new_assignment' section.id %}">Create a New Assignment</a>
{% endif %}

<h3>Students:</h3>
{% if section.students.all.count %}
	<ul>
	{% for student in section.students.all %}
	    <li>{{ student.django_user.first_name }}</li>
	{% endfor %}
    </ul>
{% else %}
    <p>No students are enrolled in this course.</p>
{% endif %}

{% if user %}
{% if user.is_student %}
<h3>Join the Section</h3>
<form action="{% url 'courses:enroll' section.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Join" />
</form>
{% elif user.is_admin %}
<h3>Add students to section</h3>
<form action="{% url 'courses:enroll' section.id %}" method="post">
    {% csrf_token %}
    <label for="student_id">Student</label><br />
    <select name=student_id id=student_id >
    {% for student in students %}
        <option value={{student.id}}>{{student}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Add student" />
</form>
{% endif %}
{% endif %}
